body {
	margin: 0px;
	background-color: burlywood;
}

/* Menu : */

nav {
	display: flex;
	position: fixed;
	top: 0px;
	width: 100vw;
	padding: 5px 10px;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 5px black;
	background-color: sienna;
	box-sizing: border-box;
}

div#sort_section,
div#account_section {
	display: flex;
	height: min-content;
	gap: 10px;
}

nav button {
	height: min-content;
	padding: 0px;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 5px;
	background-color: antiquewhite;
}

nav button.active:hover {
	cursor: pointer;
	background-color: #F4D4AA;
}

nav button > div.filter {
	padding: 5px 10px;
	border-radius: 3px;
}

nav button > div.filter.show {
	background-color: rgba(0, 0, 0, 0.5);
}

button#add_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

button#add_button > div.filter {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-sizing: border-box;
}

button#add_button img {
	width: 20px;
	height: auto;
}

div#sort_section > select {
	padding: 2px;
	font-weight: bold;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	background-color: antiquewhite;
}

div#sort_section > select.inactive {
	background-color: #7D756B;
}

div#sort_section > select:hover {
	cursor: pointer;
	background-color: #F4D4AA;
}

div#sort_section > select.inactive:hover {
	cursor: default;
	background-color: #7D756B;
}

/* Characters : */

div#characters_list {
	visibility: visible;
	display: flex;
	margin: 70px 20px 50px;
	flex-wrap: wrap;
	justify-content: space-between;
}

div.character {
	display: flex;
	width: calc(50vw - 30px);
	height: 20vh;
	padding: 20px;
	gap: 20px;
	margin-bottom: 20px;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 0 0 5px black;
	background-color: floralwhite;
	box-sizing: border-box;
}

div.character:last-child,
div.character:nth-last-child(2) {
	margin-bottom: 0px;
}

div.profile img {
	height: calc(20vh - 44px);
	width: calc(20vh - 44px);
	object-fit: cover;
	object-position: top;
}

div.description {
	display: grid;
	flex-grow: 1;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

div.property {
	display: flex;
	align-items: center;
	gap: 4px;
}

div.appreciation {
	grid-column: 2;
	grid-row: 2 / 4;
	gap: 6px;
}

span.property_name {
	font-weight: bold;
	text-wrap: nowrap;
}

div.appreciation img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

div.hidden_buttons {
	display: flex;
	visibility: hidden;
	flex-direction: column;
	gap: 2px;
}

button.delete_button, button.edit_button {
	width: 24px;
	height: 24px;
	padding: 4px;
	border: none;
	border-radius: 20%;
	background-color: transparent;
}

button.delete_button img, button.edit_button img {
	width: 100%;
	height: 100%;
}

div.character:hover { box-shadow: none; }
button.delete_button:hover { background-color: rgba(222, 184, 135, 0.8); }
button.edit_button:hover { background-color: rgba(222, 184, 135, 0.8); }

/* Message : */

div#message {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	translate: -50%;
	font-size: x-large;
	font-weight: bold;
}

/* Footer : */

footer {
	display: flex;
	position: absolute;
	bottom: 0px;
	height: 40px;
	width: 100vw;
	padding: 0 10px;
	justify-content: end;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
}

footer > a:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* - - - */

/* div#characters_list { border: 2px solid crimson; } */
/* div.profile, div.hidden_buttons { border: 2px solid black; } */
/* div.description, div.property { border: 1px solid black; } */