body {
	position: absolute;
	inset: 0px;
	margin: 0px;
	background-color: burlywood;
}

div#toast {
	visibility: hidden;
	opacity: 0;
    position: fixed;
    top: 20px;
    left: 50vw;
    translate: -50%;
    padding: 10px 20px;
    width: max-content;
    font-size: large;
    color: crimson;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    background-color: floralwhite;
	transition: visibility 0.4s,
				opacity 0.4s;
}

div#toast.show {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s;
}

div#window {
	position: absolute;
	top: 50vh;
	left: 50vw;
	translate: -50% -50%;
	width: 300px;
	padding: 15px 20px 20px;
	border: 2px solid black;
	box-shadow: 0 0 5px black;
	border-radius: 10px;
	background-color: floralwhite;
}

h1#title {
	display: block;
	margin: 0 auto 20px;
	width: max-content;
	text-decoration: underline;
}

/* Form : */

form {
	display: flex;
	margin-top: 20px;
	margin-bottom: 10px;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

div.field {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	box-sizing: border-box;
}

div.field > label,
div.field > span {
	display: block;
	width: max-content;
	font-weight: bold;
	cursor: default;
}

input[type="text"], input[type="password"] {
	width: 250px;
	text-align: center;
	font-family: "Times New Roman", serif;
	font-size: medium;
	border: 1px solid grey;
}

/* Bottom : */

a#forgotten_password {
	display: block;
	margin-top: 20px;
	margin-left: 50%;
	translate: -50%;
	width: max-content;
	font-size: smaller;
	font-weight: bold;
	color: sienna;
}

a#forgotten_password:hover {
	cursor: pointer;
	text-decoration: underline;
}

button#submit_button {
	margin-top: 10px;
	margin-left: 50%;
	translate: -50%;
	padding: 5px 20px;
	width: max-content;
	font-family: "Times New Roman", serif;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 5px;
	background-color: burlywood;
}

button#submit_button:hover {
	cursor: pointer;
	background-color: #D3A05F;
	/* Burlywood - 10% */
}

button#new_user {
	margin-top: 10px;
	margin-left: 50%;
	translate: -50%;
	padding: 5px 20px;
	width: max-content;
	font-family: "Times New Roman", serif;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #F6E9D6;
	/* Floralwhite + Burlywood (25%) */
}

button#new_user:hover {
	cursor: pointer;
	background-color: #EDD3AC;
	/* Floralwhite + Burlywood (25%) - 10% */
}

/* - - - */

@media(max-width: 600px) {

	/* div {} */

}

/* - - - */

/* body { border: 2px solid black; } */
/* h1#title { border: 2px solid black; } */
/* form { border: 2px solid black; } */
/* div.field { border: 2px solid black; } */
/* a#forgotten_password { border: 2px solid black; } */