div#overlay {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	inset: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: visibility 0.6s,
				opacity 0.4s 0.2s;
}

div#overlay.show {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s;
}

div.modal {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	width: 400px;
	left: 50vw;
	top: 50vh;
	translate: -50% -50%;
	padding: 15px 20px 20px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: floralwhite;
	transition: visibility 0.4s,
				opacity 0.4s;
}

div.modal.show {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s 0.2s;
}

h1#title {
	display: block;
	margin: 0 auto 20px;
	width: max-content;
	font-size: x-large;
	text-decoration: underline;
}

div#delete_modal p {
	margin: 7px 0 20px;
	font-weight: bold;
}

button#close_button {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 24px;
	height: 24px;
	padding: 4px;
	border: none;
	border-radius: 20%;
	background-color: transparent;
}

button#close_button:hover {
	cursor: pointer;
	background-color: rgba(222, 184, 135, 0.8);
}

button#close_button img {
	width: 100%;
	height: 100%;
}

/* Form : */

form {
	display: flex;
	margin: 20px 0;
	flex-direction: column;
	gap: 10px;
}

div.field {
	display: flex;
	align-items: center;
	gap: 5px;
}

div.field > label {
	padding: 4px 0;
	height: min-content;
	font-weight: bold;
}

div.field:nth-child(1) > label,
div.field:nth-child(4) > label {
	padding-top: 0px;
}

div.field > span {
	padding-bottom: 4px;
	height: min-content;
	font-weight: bold;
	cursor: default;
}

label sup, span sup {
	color: crimson;
}

input[type="text"], textarea {
	flex-grow: 1;
	font-family: "Times New Roman", serif;
	font-size: medium;
	border: 1px solid grey;
}

div.field > span + div {
	display: flex;
	flex-grow: 1;
	justify-content: space-evenly;
}

div.choice {
	display: flex;
	align-items: center;
}

input[type="radio"] {
	margin-left: 0px;
}

input[type="radio"]:checked {
	accent-color: black;
}

input[type="radio"]:hover {
	cursor: pointer;
}

/* Bottom : */

div#legend {
	position: absolute;
	left: 20px;
	bottom: 25px;
	font-size: smaller;
	color: crimson;
}

a#reset_link {
	position: absolute;
	right: 20px;
	bottom: 27px;
	font-size: smaller;
	font-weight: bold;
	color: sienna;
}

a#reset_link:hover {
	cursor: pointer;
	text-decoration: underline;
}

button#submit_button {
	margin: 0px;
	margin-left: 50%;
	translate: -50%;
	padding: 5px 20px;
	font-family: "Times New Roman", serif;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 5px;
	background-color: burlywood;
}

button#submit_button:hover {
	cursor: pointer;
	background-color: #D3A05F;
	/* ... */
}

/* - - - */

@media(max-width: 600px) {

	/* div.modal {
		width: calc(100vw - 40px);
	} */

}

/* - - - */

/* h1#title { border: 2px solid black; } */
/* form { border: 2px solid black; } */
/* div.field { border: 2px solid black; } */
/* div.field > label { border: 2px solid black; } */
/* div.field > span { border: 2px solid black; } */
/* div.field > span + div { border: 2px solid black; } */
/* div.choice { border: 2px solid black; } */
/* div#legend { border: 2px solid black; } */
/* a#reset_link { border: 2px solid black; } */