nav {
	display: flex;
	position: fixed;
	inset: 0 0 auto 0;
	padding: 5px 10px;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 5px black;
	background-color: sienna;
	box-sizing: border-box;
}

div#sort_section,
div#account_section {
	display: flex;
	height: min-content;
	gap: 10px;
}

nav button {
	height: min-content;
	padding: 0px;
	font-family: "Times New Roman", serif;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 5px;
	background-color: antiquewhite;
}

nav button.active:hover {
	cursor: pointer;
	background-color: #F4D4AA;
	/* AntiqueWhite - 10% */
}

nav button > div.filter {
	padding: 5px 10px;
	border-radius: 3px;
}

nav button > div.filter.show {
	background-color: rgba(0, 0, 0, 0.5);
}

button#add_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

button#add_button > div.filter {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-sizing: border-box;
}

button#add_button img {
	width: 20px;
	height: 20px;
}

div#sort_section > select {
	padding: 2px;
	font-family: "Times New Roman", serif;
	font-weight: bold;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	background-color: antiquewhite;
}

div#sort_section > select.inactive {
	background-color: #7D756B;
	/* Antiquewhite + Black (50%) */
}

div#sort_section > select:hover {
	cursor: pointer;
	background-color: #F4D4AA;
	/* AntiqueWhite - 10% */
}

div#sort_section > select.inactive:hover {
	cursor: default;
	background-color: #7D756B;
	/* Antiquewhite + Black (50%) */
}

/* - - - */

@media(max-width: 600px) {

	/* div {} */

}

/* - - - */

/* div#sort_section { border: 2px solid black; } */
/* div#account_section { border: 2px solid black; } */