body {
	position: absolute;
	inset: 0px;
	margin: 0px;
	background-color: burlywood;
}

div#window {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	width: max-content;
	padding: 15px 20px 20px;
	border: 2px solid black;
	box-shadow: 0 0 5px black;
	border-radius: 10px;
	background-color: floralwhite;
}

h1#title {
	display: block;
	margin: 0 auto 20px;
	width: max-content;
	text-decoration: underline;
}

form {
	display: flex;
	margin-top: 20px;
	flex-direction: column;
	align-items: center;
}

div.field {
	display: flex;
	margin-bottom: 15px;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

div.field > label,
div.field > span {
	display: block;
	width: max-content;
	font-weight: bold;
	cursor: default;
}

div#visibility_field > div {
	display: flex;
	gap: 20px;
}

div.choice {
	display: flex;
	align-items: center;
}

input[type="text"], input[type="password"] {
	width: 300px;
	border: 1px solid grey;
}

input[type="radio"] {
	margin-left: 0px;
}

input[type="radio"]:checked {
	accent-color: black;
}

input[type="radio"]:hover {
	cursor: pointer;
}

a#forgotten_password {
	display: block;
	margin: 5px 0;
	width: max-content;
	color: sienna;
}

button#submit_button,
button#new_user {
	margin-top: 5px;
	padding: 5px 20px;
	width: max-content;
	font-family: "Times New Roman", serif;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 5px;
	background-color: burlywood;
}

button#submit_button:hover {
	cursor: pointer;
	background-color: #D3A05F;
}

button#new_user {
	margin-top: 10px;
	margin-left: 50%;
	transform: translate(-50%, 0);
	background-color: #F6E9D6;
}

button#new_user:hover {
	cursor: pointer;
	background-color: #EDD3AC;
}